body{
background-image: linear-gradient( rgb(250, 241, 241),  rgb(192, 163, 247));
background-repeat: no-repeat;
height:1300px ;
}
.container{
display: flex;
gap: 30px;
justify-content: center;
align-items: center;
height: 900px;
flex-wrap: wrap;
text-align: center;
}
.container div:hover{
box-shadow: 10px 10px 20px purple;
}
.cardpic{
width: 400px;
height: 230px;
border-radius: 20px;
}
.circle{
width: 50px;
height: 50px;
border-radius: 50%;
margin-left: 50px;
margin-top: 10px;
}
button{
width: 150px;
height: 60px;
border: none;
background-image: linear-gradient( to right, #6864f1, #8962fc);
color: white;
border-radius: 30px;
font-size: 20px;
margin-left: 50px;

}
.container div{
background-color: white;
width: 440px;
border-radius: 20px;
}
h1{
font-family: Arial, Helvetica, sans-serif;
font-size:35px ;
}
h2{
font-size: 22px;

}
span{
color: gray;
font-weight: 100px;
font-size: 15px;
}
.content{
display: flex; 
gap: 20px;  
}
p{
color: gray;
font-size: 17px;
}
.icons{
margin-left: 1300px;
}
